@media screen and (max-width: 1222px) {
  .hero-inner {
    padding: 103.5px 10px 84.76px 10px;
  }
}
@media screen and (max-width: 1414px) {
  .herro1-rg img {
    left: 0px;
  }
}
@media screen and (max-width: 875px) {
  .benefit-inner {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1296px) {
  .embla__button--next {
    right: 30px;
  }
  .embla__button--prev {
    left: 30px;
  }
}

@media screen and (max-width: 991px) {
  .embla__button{
  display: none;
}
  .nav-separator {
    display: none;
  }
  .btn-nav {
    margin-bottom: 16px;
    max-width: 200px;
  }
  .btn-nav-login {
    max-width: 200px;
  }
  .nav-right {
    align-items: flex-start;
  }
}
@media screen and (max-width: 837px) {
  .footer input:nth-child(1)
  {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .footer-end p
  {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .footer-end,.df-x1{
    flex-direction: column;
  }
}
@media screen and (max-width: 396px) {
  .btn-cst-hs3
  {
    flex-direction: column;
  }
  .btn-cst-hs3 button
  {
    margin: 16px 0px;
  }
  .scr-top6{
    top:108px!important;
  }
  .scr-top5{
      top: 0px!important;
  }
}
@media screen and (max-width: 1230px) {
  .herro1-rg img
  {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .scr-top6 {
    position: relative;
    top: 121px;
  }
}
@media screen and (max-width: 767px) {
  .scroll-main {
    flex-direction: column;
  }
  .scroll-container{
    overflow: hidden;
  }
  .scroll-area{
    scrollbar-width: none;

  }
  .scroll-area:nth-of-type(2) h4,.scroll-area:nth-of-type(3) h4,.scroll-area:nth-of-type(4) h4,.scr-top5,.scr-top6{
    top: 0!important;
  }
  .scr-top7{
    justify-content: flex-start;
  }
}
@media screen and (max-width: 716px) {
  .hero-inner img {
    margin-top: 20px;
    width: 96%;
    margin-left: 2%;
  }
  .hero-inner {
    flex-direction: column;
    padding: 56.5px 10px 51.76px 10px;
  }
  .embla__slide .d-flex .fs20 {
    margin-bottom: 15px;
  }
  .f-box1 {
    flex-direction: column;
  }
}
